* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


  

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
               'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
               'Noto Color Emoji';
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
 
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  zoom: 0.9;
  
  transform-origin: left top;
}

footer {
  
  font-size: 130%;
  color: #7a7373;
  padding-top: 70px;
 
  height: 50px;
  width: 100%;
}